language: python
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
- pytest --cov=tflyrics tests/
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
env:
  global:
    - CC_TEST_REPORTER_ID=807dd45c04e56c2f1e57ca19d2bd9a402039e64915eb166cffde589c106a6fbe
    - secure: hixHF3D1xRSpSd0ozDXDXKvRsWcgRXdXMkEXG2J7IO1g9Wa8dj6+2ECuv4OY226J1vyE8yaWQ7d1vVnV5IKr/dMitODYeA2GSnPnMCFXih8EexrOs6dKAsuOX4dM4K435tA/fG5H7Q8Ladl44QFmf3iu+kzfpk20loWdRIh3vZLU/Vewgc/9TAR5s9J9AwDAUFsZcReUcJAjviBmdXDfXcS3KYDApxPkHm7ZXmv2t9nhAc9WdjUl3tWkdbgpXq1T3eSoqaRsW/fT6Tn1wd40LwYN27s2eJPOQoW7FvxCI+DA2pkpzgKKd1pKJHV1wbalqvvZzblKrsLMBReVE4XO8YaOxoBy8thZR84PpL1koppoN40abYJXAd74Vv6kXSj8o3iRze2SuZnB0BjMus9bPGo8M3bFwWwfmLOFdCKIQITwMvGxJQwcShXpNJJbTos5t1ePqwPe1mroulifFhgMXS7p5kBZZFi7hKx0Tj1v85+oHAODLDYt9OV1IT6BnNOVph7fPqYh1Vgpm3wHnYgPfX6PRHQPqGOl+me8Cm3+9d1CWJcDcO0M7rgRlDF6vKw8XQESd+3G74MG6wDh7ceoMkTJz2t/X6k0fZ9+HfzIsoU+GAnvr1STr5FRJZeyBF6jDPxIT+tNWEuR0mP57I6GQEGqqsKKPtjjp9kMyTaBAT4=
